player-connection-mode=Listen
player-connection-guid=1545394366
player-connection-debug=0
player-connection-project-name=InteractionFrameworkPun2
player-connection-ip=192.168.0.101
wait-for-native-debugger=0
hdr-display-enabled=0
xrsdk-pre-init-library=UnityOpenXR
build-guid=784e5a27e4c743b7aa345ca7d23157c1
