player-connection-mode=Listen
player-connection-guid=773778991
player-connection-debug=0
player-connection-project-name=InteractionFrameworkPun2
player-connection-ip=172.16.41.18
wait-for-native-debugger=0
hdr-display-enabled=0
xrsdk-pre-init-library=UnityOpenXR
build-guid=107473af83634136972660426438ba00
